$primary-color: #ff0049;
$secondary-color: #002b45;
$terciary-color: #fff1e5;

$white: #ffffff;
$black: #000000;

.PasswordWizardContainer {
  background-color: #f3eded;
  padding: 2rem;
}

.StepWrapper {
    padding: 1rem 2rem 2rem 2rem;
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px #e0e0e0;
  border-style: solid;

  &__Info {
    display: flex;
    align-self: center;
    width: 50%;
    justify-content: space-around;
  }
}

.image-container {
    flex: 1 1 0px;
    margin: 2rem;
    text-align: center;
}


.arrow {
    height: 0;
    box-sizing: border-box;
    width: 0;
    border-bottom: 12px solid white;
    border-left: 14px dotted transparent;
    border-right: 14px dotted transparent;
    left: -15px;
    top: 2px;

    z-index: 1;
    position: relative;
    margin-top: -12px;

    &.step1 {
        margin-left: 45%;
    }

    &.step2 {
        margin-left: 50%;
    }

    &.step3 {
        margin-left: 55%;
    }
}