.ButtonGroup {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  border: 1px #e0e0e0;
  border-style: solid;
  box-shadow: 0 2px 2px -2px grey;
  background-color: white;

  border: 1px #e0e0e0;
  border-style: solid;

  &.step3 {
    justify-content: flex-end;
  }

  %heading {
    background-color: blanchedalmond;
    color: brown;
    font-family: "Times New Roman", Times, serif;
  }

  @mixin Button {
    padding: 1rem 1.5rem 1rem 1.5rem;
    border: 1px;
    border-radius: 3px;
    color: white;
    font-weight: bold;
    background-color: #002b45;
    cursor: pointer;
  }

  &__Button {
    @include Button;

    &--disabled {
      @include Button;
      border: 1px solid #999999;
      background-color: #cccccc;
      color: #666666;
      cursor: auto;
    }
  }
  & * {
    box-sizing: border-box;
  }
}
