.PasswordField {
  border: 1px solid #c6c6c6;
  box-sizing: border-box;
  color: #090809;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1;
  position: relative;

  &__Wrapper {
    margin: 2rem 2rem 2rem 0;
  }

  &__Label {
    font-weight: bold;
  }

  &__Input {
    border: none;
    box-sizing: border-box;
    font-size: 18px;
    padding: 14px 0 12px 14px;
    width: calc(85% - 28px);
  }

  &__Input:focus {
    outline: none;
  }

  &__StrengthBar {
    box-sizing: border-box;
    height: 2px;
    position: relative;
    top: 1px;
    right: 1px;
    transition: width 300ms ease-out;
    width: 0;
  }

  &.is-strength-0 .PasswordField__StrengthBar {
    background: #d1462f;
    width: 20%;
  }

  &.is-strength-1 .PasswordField__StrengthBar {
    background: #d1462f;
    width: 40%;
  }

  &.is-strength-2 .PasswordField__StrengthBar {
    background: #57b8ff;
    width: 60%;
  }

  &.is-strength-3 .PasswordField__StrengthBar {
    background: #57b8ff;
    width: 80%;
  }

  &.is-strength-4 .PasswordField__StrengthBar {
    background: #2fbf71;
    width: calc(100% + 2px);
  }
}


