.FormStep {
  &__Password {
    display: flex;
  }

  &__Error--password {
    margin: 0;
    position: relative;
    top: -1rem;
    color: red;
  }

  &__Error--hint {
    margin: 0;
    color: red;
  }

  &__Hint {
    border: 1px solid #c6c6c6;
    box-sizing: border-box;
    color: #090809;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    line-height: 1;
    position: relative;
  }

  &__Input {
    border: none;
    box-sizing: border-box;
    font-size: 18px;
    padding: 14px 0 12px 14px;
    width: 100%;
  }

  &__Label {
    font-weight: bold;
  }
}